*.DS_Store
wildcard*
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.sqlite

pids
logs
results
node_modules

settings.js
npm-debug.log

felixsargent_com.*
# Local Netlify folder
.netlify


# Project dependencies
.cache
node_modules
yarn-error.log

# Build directory
/public
.DS_Store

# Local Netlify folder
.netlify