---
layout: default
title: Home
---
<section id="about">
    <h2>About Me</h2>
    <p>
        I'm a seasoned engineering leader. I enjoy building high-performing teams and scalable, robust software. I program in Scala, Typescript, and Python, with a deep appreciation for type safety, observability, and comprehensive testing.
    </p>
    <p>
        Outside of my professional life, I'm passionate about improving democratic systems. As the former chair of the <a href="https://electionscience.org">Center for Election Science</a>, I've dedicated years to advocating for better voting methods.
    </p>
    <p>
        Want to chat? Happy to hop on a call, or better, let's get a coffee in London. I ask for a $50 donation to the <a href="https://electionscience.org">Center for Election Science</a> for a <a href="https://tidycal.com/felix.sargent">30 minute chat</a>. I'm available to speak on social choice theory, and for engineering management mentorship.
    </p>
</section>
<section id="articles">
    <h2>Articles</h2>
    {% for category in site.categories %}
    <h3>{{ category | first }}</h3>
    <ul>
        {% for post in category.last %}
        <li>
            <span class="post-date">{{ post.date | date: "%Y-%m-%d" }}</span> <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
</section>
