extends layout

block content
  .container
    .hero-unit.span8(style='padding: 75px 50px 50px 50px;')
      h1 Felix Sargent
      p
        a(href='mailto:felix.sargent@gmail.com') felix.sargent@gmail.com
        |  - 
        a(href='http://www.github.com/fsargent') GitHub
        br
        | Status: Having fun at Rackspace.
    .skills.span8
      .skillGroup
        h2
          span Skills
        .language
          .languageTitle
            h6 Platforms
          .skillList.push-1
            ul
              li 8 Years Expert Ubuntu Linux, Windows (XP/7), Macintosh OS X Environment Management
              li Linux Environment Development and Deployment
              li Apple Certified Macintosh Technician
              li Android, iPhoneOS, Blackberry mobile platforms.
        .language
          .languageTitle
            h6 Applications
          .skillList.push-1
            ul
              li Puppet, Apache, Centrify
              li Salesforce.com Support & Agile Development Suite
              li PGP, SGEasy, Filevault, and Bitlocker Encryption suites
              li Remedy Ticket Management, ServiceNow Asset Management
              li Python, Django, Ruby and Bash scripting
        .language
          .languageTitle
            h6 Networking
          .skillList.push-1
            ul
              li
                | Advanced Networking including DHCP, DNS, TCP/IP, Active Directory, and Cisco Router Management
              li
                | Computer and User policy/data management, including Active Directory, CorpDB, and LDAP
        .language
          .languageTitle
            h6 Other
          .skillList.push-1
            ul
              li Project Management, Recruiting and Technical Training
              li United States, European (UK), and Australian Citizenship
      .skillGroup
        h2
          span Personal Projects
        .skillList.push-1
          ul
            li Learning Mandarin Chinese. A long ongoing process, but 
              a(href='http://www.memrise.com/') Memrise
              |  helps.
            li
              | Wrote 
              a(href='https://github.com/fsargent/GPSBot') GPSBot
              | , an app
              | that will get a tweet's GPS location, map it to a Google Maps link, shorten it, then return it to any user CC'ed on the tweet. Useful for saying to friends "I'm over here."
            li
              | I volunteer at 
              a(href='http://www.okizu.org') Camp Okizu
              | , a camp for children with cancer, and their families.
    .experienceexperience.span-4
      h2 Experience
      div
        h3
          a(href='http://www.rackspace.com') Rackspace
          h3
      h6 Technical Project Manager
      .companyTimePeriod November 2012 - In Progress
      ul
        li In Progress...
      h6 Software Engineer
      .companyTimePeriod August 2011 - November 2012
      .jobAchievements
        ul
          li
            | Worked as a developer / support engineer on 
            a(href='http://www.cloudkick.com/') Cloudkick
            | .
          li
            | Contributer to 
            a(href='http://mycloud.rackspace.com') Rackspace Cloud Control Panel
            | .
          li
            | Engineer on Open Source project 
            a(href='https://github.com/racker/gutsy') Gutsy
            | , an automagical NodeJS project Dashboard for large companies.
          li
            | Primary contributer to 
            a(href='https://github.com/fsargent/raxURL') RaxURL
            | , a NodeJS internal URL shortener.
          li
            | Built the office 
            a(href='http://www.sdtimes.com/link/36702') Kegerator
            | .
      .companyName
        h3
          a(href='http://www.salesforce.com') Salesforce.com
      h6 Linux Infrastructure Developer
      .companyTimePeriod August 2010 - August 2011
      .jobAchievements
        ul
          li
            | Created Ubuntu corporate image currently deployed worldwide to Salesforce.com Developers
          li
            | Built Corporate Puppet infrastructure, scaled to 500+ nodes, monitored with Puppet Dashboard
          li Built and managed custom Ubuntu Apt repository
          li
            | Built PXE booting infrastructure leveraging existing WDS servers without disrupting Win 7 deployment
          li Wrote custom Python software to provision machines
          li
            | Created exemplary documentation for both self service and helpdesk
          li Conducted Linux troubleshooting training sessions
          li
            | Provided support to developers worldwide via Salesforce.com suite
      .companyName
        h3
          a(href='http://www.google.com') Google
          |  ( 
          a(href='http://www.astreya.com/') Astreya
          |  )
      h6 Operations Engineer
      .companyTimePeriod August 2009 - August 2010
      .jobAchievements
        ul
          li
            | Provided technical support to both Eng and non-Eng Google employees on both front and backend.
          li
            | Expert troubleshooting and research skills in Windows, Mac and Linux.
          li
            | Managed Remedy ticketing system maintaining consistent SLA response times.Over 75 tickets/wk resolved.
          li
            | Deployment of over 750 systems (XP, Mac, Linux), support to campus of over 2000 employees.
          li Project manager deploying user facing inventory offices.
          li Recruiting including sourcing and interviewing.
          li Managed training for new employees.
          li
            | Created training procedures, protocol and documentation for new inventory management projects.
    .skillSection.span-4
      .skills
        h2
          span Education
        .jobDetails.push-1
          div
            h3
              a(href='http://sfsu.edu/') San Francisco State University
          h6 Economics
          .companyTimePeriod Graduated Spring 2009
          .jobAchievements
            ul
              li President, Economics Students Association 2008
              li Treasurer, Pre-Law Society 2008
              li Varsity Intercollegiate Policy Debate Team
  .footer
    .container
        section.coderwall(data-coderwall-username='fsargent', data-coderwall-orientation='horizontal')