extends layout

block content
  #wrap
    .container
      .row
        .col-md-4
          .text-right
            h1 Felix Sargent
      .row
        .col-md-4
          .text-right
            p.lead Experience
        .col-md-6
          blockquote
            p Technical Product Manager, 
              a(href="//github.com/rackerlabs/otter") Autoscale
              |  @
              a(href='//www.rackspace.com') Rackspace
              small November 2012 - In Progress
          ul
            li Oversaw the organization and prioritization of tasks, as well as facilitating discussions around the product.
            li Tracked dependencies and eliminated blockers.
            li Followed a methology of ruthless simplicity to focus on lightweight, pluggable, flexible products.
            li Used best practices enable extremely agile development, incouraging continuous integration, deployment, and testing. 
            li Managed a 
              a(href="https://www.rackspace.com/blog/the-heat-is-on-for-autoscaling-at-openstack-summit-portland/") redesign 
              | to align our product with 
              a(href"http://developer.rackspace.com/blog/rackspace-autoscale-is-now-open-source.html") OpenStack
            li Fought to get our product 
              a(href="//github.com/rackerlabs/otter") open sourced.
            li 
              a(href="https://www.rackspace.com/blog/tea-time-because-we-wont-stand-for-a-standup/") Spawned a culture of a tea time.
            small This tea time enabled us to have low stress, positive, communicative meetings across the team. The relaxed culture allows people to be open, and honest. Even better, we’ve all grown closer as a team through memes and puns.

          blockquote
            p Software Engineer @
              a(href='//www.rackspace.com') Rackspace
              small August 2011 - November 2012
          ul
            li Developer and support engineer on &nbsp;
              a(href='//www.cloudkick.com/') Cloudkick
              | .
            li Developer on&nbsp;
              a(href='https://mycloud.rackspace.com') Rackspace Cloud Control Panel
              | .
            li Developer on Open Source project&nbsp;
              a(href='https://github.com/racker/gutsy') Gutsy
              | , an automagical NodeJS project Dashboard for large companies.
            li Developer of&nbsp;
              a(href='https://github.com/fsargent/raxURL') RaxURL
              | , a NodeJS internal URL shortener.
            li Remote office IT Liason to the San Antonio Office. Ensured technical site operations including networking, AV, equipment and inventory.
            li Built the office&nbsp;
              a(href='//www.sdtimes.com/link/36702') Kegerator
              | .
          blockquote
            p Linux Infrastructure Engineer @
              a(href='//www.salesforce.com') Salesforce.com
              small August 2010 - August 2011
          ul
            li Learned Python.
            li Created Ubuntu corporate image currently deployed worldwide to Salesforce.com Developers.
            li Built Corporate Puppet infrastructure, scaled to 500+ nodes, monitored with Puppet Dashboard.
            li Built and managed custom Ubuntu Apt repository.
            li Built PXE booting infrastructure leveraging existing WDS servers without disrupting existing Windows deployments.
            li Wrote custom Python software to provision machines.
            li Created documentation for engineers and helpdesk.
            li Organized Linux troubleshooting training sessions.
            li Provided support to developers worldwide.
          blockquote
            p Support Engineer @
              a(href='//www.google.com') Google
              |  (
              a(href='//www.astreya.com/') Astreya
              | )
              small August 2009 - August 2010
          ul
            li Learned Linux Administration, Bash Scripting, and Puppet.
            li Provided tier one/two technical support to Google employees.
            li Troubleshooting and research skills of Windows, Mac and Linux issues.
            li Managed "Hardware Depot" inventory offices.
            li Created training procedures, protocol and documentation for inventory management projects.
      .row
        .col-md-4
          .text-right
            p.lead Skills
        .col-md-6
          ul.list-unstyled
            li.text-muted 
              strong Product Management
            ul
              li Technical Product Management
              li Agile Methodologies: Scrum, Kanban
              li Certified Scrum Master
            li.text-muted 
              strong Engineering and Operations
            ul
              li Python
              li NodeJS
              li Puppet, Chef
              li Ubuntu Linux, Windows, Macintosh OS X Environment Management
              li Apple Certified Macintosh Technician
            li.text-muted 
              strong Networking
            ul
              li Advanced Networking including DHCP, DNS, TCP/IP, Active Directory
              li Computer and User policy/data management, including Active Directory, CorpDB, and LDAP
            li.text-muted 
              strong Nationalities
            ul
              li United States, European (UK), and Australian Citizenship
      .row
        .col-md-4
          .text-right
            p.lead Education
        .col-md-6
          blockquote
            p Economics @
              a(href='//sfsu.edu/') San Francisco State University
              small Graduated Spring 2009
          ul.list-unstyled
            li President, Economics Students Association 2008
            li Treasurer, Pre-Law Society 2008
            li Varsity Intercollegiate Policy Debate Team
      .row
        .col-md-4
          .text-right
            p.lead Personal
        .col-md-6
          p Founded and Captained the 
              a(href="//codeforsanfrancisco.org/") Code for America San Francisco Brigade.
          p Learning Mandarin Chinese.
          p
            a(href="http://blog.felixsargent.com/?p=5") I volunteer
            |  at&nbsp;
            a(href='//www.okizu.org') Camp Okizu
            | , a camp for children with cancer, and their families.
    .footer