!!! 5
html
  head
    title Jennifer Burkett's Resume
    link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css", rel="stylesheet")
    link(href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css", rel="stylesheet")
    link(rel='stylesheet', href='/css/style.css', type='text/css')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href='/') Jennifer Burkett
    .container
      .row
        .span4
          .pull-right
            p
              strong Address
        .span6
          address
            a(href="https://www.linkedin.com/pub/jennifer-burkett/7/368/354")
              strong Jennifer Burkett
              |
              i.icon-linkedin-sign
            br
            | 1533 Jackson St. Oakland, CA 94612
            br
            abbr(title='Phone') P:
            |  717-256-1115
            br
            a(href='mailto:jennifer.r.burkett@gmail.com') jennifer.r.burkett@gmail.com
      .row
        .span4
          .pull-right
            p
              strong Experience
        .span6
          blockquote
            strong Fair Trade USA  Oakland, CA
            small Certification Manager (October 2011 - Present)
            small Certification Specialist (May 2010 - October 2011)
          ul.unstyled
            li Ensures supply chain integrity by overseeing chain of custody transactional and physical auditing for all coffee roasters and importers of fresh produce, floral, wine and spirit products
            li Designed, implemented and continually improves internal processes for quality control in transactional auditing, which includes consistent and meaningful metrics, peer reviews, and trainings for all phases
            li Acts as a strategic counterpart to business development directors in all product categories to ensure client understanding of Fair Trade principles, applications to their unique supply chains, and impact to farming communities driven by their procurement and social responsibility goals
            li Recommends and implements process improvements both internally and externally for clients seeking to improve compliance practices in a business-friendly manner
            li Provides internal and external intelligence of buying patterns to inform opportunities as well as identify risks
            li Recruits, hires, trains and manages a growing team
          blockquote
            strong UBS Investment Bank London, UK
            small Business Unit Controller (August 2008 - August 2009)
          ul.unstyled
            li Conducted financial profit and loss analysis and control functions within the investment bank for the EMEA credit flow business
            li Recommended solutions based on analysis of bond, credit default swap, asset swap and future products
            li Implemented trend analysis of daily accuracy of front office pricing models to include all book positions across all credit products
            li Introduced daily Credit market analysis reports to keep control staff aware of real-time market events to effectively evaluate risk positions
            li Expanded daily market analysis into weekly and quarterly overviews that were used by the senior management team to explain market movements
          blockquote
            strong CreditVest  Pittsburgh, PA
            small Real Estate Analyst (June 2006 - April 2008)
          ul.unstyled
            li Analyzed key property and loan metrics, including debt service coverage ratios, loan to value, property condition, tenancy, and capital market conditions
            li Investigated and analyzed surrounding market conditions which included population growth, tax rates and revenues, infrastructure projects and other property growth trends
            li Examined borrower financial strength, liquidity, and management approach to make recommendations for credit committee review
            li Performed on-site inspections requiring the examination of key components such as structural integrity; property ingress, egress, and visibility
      .row
        .span4
          .pull-right
            p
              strong Education
        .span6
          blockquote
            strong Washington & Jefferson College  Washington, PA
            small Bachelors in Mathematics and Fine Arts
          p
            strong Language:
            |  Basic French and Spanish
          p
            strong Technology:
            |  Advanced Excel skills including beginner VBA, High proficiency at all other Microsoft Office and Google Drive applications, Experienced with proprietary financial modeling tools and Salesforce CRM
          p
            strong Management:
            |  Certificate in Managing Teams through University of Cambridge International Examinations (2009)

