!!! 5
html
  head
    title= title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css', rel='stylesheet')
    link(href='//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
  .navbar.navbar-fixed-top.navbar-default
    .container
      .navbar-header
        a.navbar-brand(href='/') Felix Sargent
      .collapse.navbar-collapse.navbar-ex1-collapse
        ul.nav.navbar-nav
          li
            a(href='//blog.felixsargent.com')
              i.glyphicon.glyphicon-comment
          li
            a(href='mailto:felix.sargent@gmail.com')
              i.icon-envelope.icon-large
          li
            a(href='//github.com/fsargent')
              i.icon-github.icon-large
          li
            a(href='//linkedin.com/in/felixsargent/')
              i.icon-linkedin-sign.icon-large
  body
    block content