doctype 5
html
  head
    title= title
    link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
    link(href='//coderwall.com/stylesheets/jquery.coderwall.css', media='all', rel='stylesheet', type='text/css')
    link(href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css", rel="stylesheet")
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js')
    script(src='//coderwall.com/javascripts/jquery.coderwall.js')
    script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js")
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
        a.brand(href='/') Felix Sargent
        .nav-collapse
          ul.nav
            li
              a(href='/') Resume
            li
              a(href='/coffee') Coffee
            li
              a(href='http://blog.felixsargent.com') Blog
  body
    block content
