.carousel-inner { text-align: center; }
.carousel-caption { text-align: left; }
.carousel .item > img { display: inline-block; }

body { padding-top: 70px; }

/* Footer
-------------------------------------------------- */

.footer {
  padding: 25px 0;
  margin-top: 100px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}