<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | Felix Sargent</title>
    <meta name="description" content="{{ page.description | default: page.excerpt | default: 'Software Engineering Leadership | Social Choice Theory' | strip_html | normalize_whitespace | truncate: 160 }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/components/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/components/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/components/images/favicon-16x16.png">
    <link rel="manifest" href="/components/images/site.webmanifest">
    <link rel="mask-icon" href="/components/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@felixsargent">
    <meta name="twitter:title" content="Felix Sargent">
    <meta name="twitter:description" content="Software Engineering Leadership | Social Choice Theory">
    <meta name="twitter:image" content="https://felixsargent.com/components/images/headshots/felix-roughlinen-headshot.jpg">

    <meta property="og:title" content="Felix Sargent" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://felixsargent.com/" />
    <meta property="og:image" content="https://felixsargent.com/components/images/headshots/felix-roughlinen-headshot.jpg" />
    <meta property="og:description" content="Software Engineering Leadership | Social Choice Theory" />

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <header>
            <a href="/"><img src="/components/images/headshots/yellow circle2.jpeg" alt="Felix Sargent Headshot" class="headshot" style="width: 150px;"></a>
            <h1><a href="/">Felix Sargent</a></h1>
            <p>Software Engineering Leadership | Social Choice Theory</p>
        </header>
        <nav>
            <a href="/resume">Resume</a>
        </nav>

        {{ content }}

        <footer>
            <p>
                <a href="https://www.linkedin.com/in/felixsargent/">LinkedIn</a> |
                <a href="https://github.com/fsargent">GitHub</a> |
                <a href="https://twitter.com/felixsargent">Twitter</a> |
                <a href="https://medium.com/@felix.sargent">Medium</a>
            </p>
        </footer>
    </div>
</body>
</html>
